[Unit]
Description=KlipperLCD Service
After=klipper.service moonraker.service

[Service]
Type=simple
User=biqu
SupplementaryGroups=dialout
WorkingDirectory=/home/biqu/KlipperLCD
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/biqu/KlipperLCD/scripts/start-klipperlcd.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
